h1 {
  color: #d80927;
}
h2, h3, h4, h5, h6 {
  color: #555555;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

/*
***************************
Override Bootstrap Classes
***************************
*/
.header {
  background-image: url('../images/3-part-line.png');
  background-repeat: no-repeat;
  margin-top: 15px;
  padding-top: 15px;
}

.thumbnail {
  border: none;
}
