/* DANEBANK COLOURS *
* Light Green #00aab8 -> #e7fcff
* Dark Green  #00453e -> #99cccc
* Red         #d80927 -> #ffcccc
* Grey        #444 ?i think?
********************/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,500);

h1 {
  color: #d80927;
  font-size: 42px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  padding: 1.25rem 0 0.75rem;
}

h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #555555;
}

h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
  font-style: italic;
}
a {
  color: #00aab8;
  text-decoration: none;
  background-color: transparent;
}



/*
***************************
Override Bootstrap Classes
***************************
*/
html {
  height: 100%;
}

body {
  font-family: Lato;
  font-weight: normal;
  line-height: 1.2;
  min-height: 100%;
  background-image: url('../images/background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 75%;
  /*background-size: cover;*/
  background-position: bottom right;
  border-top-style: solid;
  border-top-color: #00aab8;
  border-top-width: 20px;

}

.header-image {
  background-image: url('../images/header-120px.svg');
  background-size: cover;
  height:120px;
  margin-top: 15px;
  padding-top: 42px;
}

.header a, a:hover {
  text-decoration: none;
}

.header-image .text-right {
  color: #00453e;
}

.container {
  max-width: 1170px;
}

.header {
  margin-bottom: 30px;

}

.footer {
  /*background: blue;
  height: 3em;
  position: fixed; bottom: 0;*/
  width: 100%;
}

.thumbnail {
  min-height: 110px;
  max-height: 110px;
  margin-bottom: 20px;
  background-color: #e7fcff;
  /* http://stacktips.com/tutorials/bootstrap/how-to-display-text-overlay-on-a-responsive-image-in-bootstrap */
}

/*
.thumbnail:hover {
  transition: .5s ease;
  opacity: 0.3;
}*/

.thumbnail .caption {
  padding: 0px;
  margin-top: 5px;
}

.thumbnail a {
  text-decoration: none;
}

.caption {
  background-color: #4acee0;
  width:85%;
  position: relative;
}

.caption h5 {
  color: #fff;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 0.88rem;
  margin-left: 10px;
}

.btn {
  margin-bottom: 6px;
}

/* Grow */
.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-grow:active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0.8;
}

/*
******************************
Icon Background Colour Schemes
******************************
*/
.thumbnail-green {
  background-color: #e7fcff;
}

.thumbnail-green .caption {
  background-color: #00aabd;
}

.thumbnail-yellow {
  background-color: #fff7cd;
}
.thumbnail-yellow .caption {
  background-color: #ffd608;
}

.thumbnail-canvas {
  background-color: #ffd5d0;
}
.thumbnail-canvas .caption {
  background-color: #e33d29;
}

.thumbnail-clickview {
  background-color: #ffe0b9;
}
.thumbnail-clickview .caption {
  background-color: #f8981d;
}

.thumbnail-junior {
  background-color: #fdefff;
}
.thumbnail-junior .caption {
  background-color: #82368c;
}

.thumbnail-pink {
  background-color: #ffccea;
}
.thumbnail-pink .caption {
  background-color: #ff2fa9;
}

.thumbnail-overdrive {
  background-color: #d9f2fe;
}
.thumbnail-overdrive .caption {
  background-color: #006594;
}

.thumbnail-lightpink {
  background-color: #faf3fb;
}

.thumbnail-lightpink .caption {
  background-color: #82368c;
}

.thumbnail-lightmaroon {
  background-color: #ffe2ee;
}

.thumbnail-lightmaroon .caption {
  background-color: #ca2359;
}

.thumbnail-lightred {
  background-color: #ffedea;
}

.thumbnail-lightred .caption {
  background-color: #d0210c;
}

.thumbnail-lightorange {
  background-color: #fff0dd;
}

.thumbnail-lightorange .caption {
  background-color: #ff9b55;
}

.thumbnail-lightblue {
  background-color: #e0f5ff;
}

.thumbnail-lightblue .caption {
  background-color: #007db7;
}

.thumbnail-lightgold {
  background-color: #fff6dd;
}

.thumbnail-lightgold .caption {
  background-color: #ffc544;
}

.thumbnail-lightpurple {
  background-color: #e7f2ff;
}
.thumbnail-lightpurple .caption {
  background-color: #05458f;
}

.thumbnail-lightbrown {
  background-color: #fff3e7;
}
.thumbnail-lightbrown .caption {
  background-color: #b17d3d;
}

.thumbnail-gmail {
  background-color: #ffdcd8;
}
.thumbnail-gmail .caption {
  background-color: #d54b3d;
}

.thumbnail-complispace .caption {
  background-color: #00adef;
}

.thumbnail-o365 {
  background-color: #ffd5d0;
}
.thumbnail-o365 .caption {
  background-color: #eb3c00;
}


@media screen and (max-width: 767px) {
    .hidden-xs {
        display:none;
    }
}
